.status_wrapper {
  position: relative;
  height: 20px;
  display: flex;

  .background {
    opacity: 0.1;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 6px;
  }

  .status {
    position: absolute;
    top: 2px;
    left: 6px;
    z-index: 1;
    font-size: 12px;
  }
}
